services:
    app:
        build: .
        ports:
            - "8000:8000"
        env_file:
            - .env
        environment:
            DATABASE_URL: sqlite:////app/dev.db
        volumes:
            - ./:/app
        command: >
            sh -c "python -m flask --app wsgi:app db upgrade &&
            gunicorn --bind 0.0.0.0:8000 --chdir src wsgi:app"
